################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xpirit.Vsts.Build.Zip.Extension/images/screenshots/Automation128.png
/Xpirit-Vsts-Build-UnZip/Xpirit.Vsts.Build.UnZip.pssproj.user
/petergroenewegen.PeterGroenewegen-Xpirit-Vsts-Build-Zip-TEST-1.1.4.vsix
/petergroenewegen.PeterGroenewegen-Xpirit-Vsts-Build-Zip-TEST-1.1.3.vsix
/petergroenewegen.PeterGroenewegen-Xpirit-Vsts-Build-Zip-TEST-1.1.2.vsix
/petergroenewegen.PeterGroenewegen-Xpirit-Vsts-Build-Zip-Test-1.0.5.vsix.zip
/petergroenewegen.PeterGroenewegen-Xpirit-Vsts-Build-Zip-1.1.5.vsix
/.vs/Xpirit.Vsts.Build.Zip/v14/.suo
/.vs/config/applicationhost.config
