################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xpirit.Vsts.Build.Zip.Extension/images/screenshots/Automation128.png
